video {
  width: 100%;
}

ul {
  width: 1200px;
}
li {
  list-style: none;
  margin: 20px 30px;
  float: left;
}
h2 {
  font-size:20px;
  background-color: lightgrey;
  padding: 5px 5px;
}
div {
  width: 80%;
}
