video {
  width: 300px;
}

ul {
  width: 1200px;
}
li {
  list-style: none;
  margin-top: 30px;
  margin-right: 10px;
  float: left;
}
h2 {
  font-size:20px;
  background-color: lightgrey;
  padding: 5px 5px;
}
pagination-controls {
  margin-top: 20px;
}
